body {

    background-color: #ffffff;
    width: 97vw;
    height: 97vh;

    text-align: center;
}

h2 {

    padding-left: 25px;
    padding-top: 20px;
    
}

p {

    padding-left: 25px;
    padding-top: 5px;
}

label {
    text-align: center;
}



.Content {

    background-color: #ffffff;
    width: 400px;
    height: 400px;
    border-radius: 15px;

    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    text-align: center;
}

button {

    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer; 

    margin: 0 auto;
}


.form-group{

    width: 250px;

    text-align: center;
}